<!--The content below is only a placeholder and can be replaced.-->
<p-inputMask [(ngModel)]="val"  characterPattern="[А-а-я]"></p-inputMask>
<p-calendar [(ngModel)]="date10">
    <ng-template pTemplate="date" let-date>
        <span [ngStyle]="{backgroundColor: (date.day < 21 && date.day > 10) ? '#7cc67c' : 'inherit'}" style="border-radius:50%">{{date.day}}</span>
    </ng-template>
</p-calendar>
<p-calendar [(ngModel)]="dateValue" dateFormat="dd.mm.yyyy"></p-calendar>
	<p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)" auto="true"></p-fileUpload>
	<p-fileUpload name="myfile[]" url="http://192.168.1.214:8002/isalud_administrador_backp/web/servicios/intranet/cargar/archivo" multiple="multiple"></p-fileUpload>
	<p-calendar [(ngModel)]="value" ></p-calendar>
	{{value}}
	<p-inputMask [(ngModel)]="val" mask="99-99-9999"></p-inputMask>
	{{val}}
	<p-calendar [(ngModel)]="date10">
		<ng-template pTemplate="date" let-date>
			<span [ngStyle]="{backgroundColor: (date.day < 21 && date.day > 10) ? '#7cc67c' : 'inherit'}" style="border-radius:50%">{{date.day}}</span>
		</ng-template>
	</p-calendar>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

